/* src/styles/colors.css */
:root {
  --shadow: rgba(0, 0, 0, 0.25);
  --gradient-pro: linear-gradient(hsl(40, 60%, 60%) 0%, hsl(40, 60%, 85%) 100%);
  --radial-15: rgba(242, 238, 233, 0.75);
  --radial-65: rgba(242, 238, 233, 0);
  --w3: hsl(200, 75%, 95%);
  --w4: hsl(60, 85%, 95%);
  --t-pro: hsl(220, 61%, 20%);
  --bg-pro: rgb(239, 163, 11);
  --bg-t-info: hsl(180, 100%, 77%);
  --bg-t-success: hsl(120, 100%, 77%);
  --bg-t-warning: hsl(60, 100%, 70%);
  --bg-t-error: hsl(0, 100%, 70%);
  --text-toast: hsl(220, 61%, 20%);
  --g0: hsl(130, 40%, 81%);
  --g1: #a9f4b7;
  --g2: #7ee78f;
  --g3: hsl(131, 50%, 25%);
  --r1: hsl(5, 50%, 85%);
  --r2: hsl(5, 80%, 70%);
  --r3: hsl(4, 50%, 25%);
  --y0: hsl(30, 20%, 98%);
  --y1: hsl(36, 33%, 97%);
  --y2: hsl(33, 26%, 93%);
  --y3: #e8e1d9;
  --y5: hsl(37, 10%, 45%);
  --y6: hsl(37, 25%, 90%);
  --y7: hsl(32, 19%, 15%);
  --y8: #594e40;
  --y9: hsl(29, 10%, 55%);
  --y10: hsl(36, 20%, 80%);
  --bb: hsl(36, 10%, 30%);
  --bg-main: var(--y1);
  --bg-side: var(--y3);
  --bg-card: var(--y2);
  --bg-group: var(--y6);
  --bg-chat-l: var(--w3);
  --bg-chat-r: var(--w4);
  --text-head: var(--y7);
  --text-title: var(--y8);
  --text-base: var(--y8);
  --text-accent: var(--y0);
  --border: var(--y10);
}

html[data-theme='dark'] {
  --shadow: rgba(180, 180, 180, 0.2);
  --gradient-pro: linear-gradient(hsl(20, 50%, 25%) 0%, hsl(40, 80%, 30%) 100%);
  --t-pro: hsl(200, 90%, 60%);
  --radial-15: rgba(50, 58, 62, 0.75);
  --radial-65: rgba(50, 58, 62, 0);
  --w3: hsl(220, 10%, 20%);
  --w4: hsl(0, 0%, 22%);
  --g0: hsl(130, 20%, 15%);
  --g3: hsl(130, 50%, 80%);
  --g2: hsl(130, 55%, 35%);
  --g1: hsl(130, 50%, 20%);
  --r1: hsl(5, 30%, 20%);
  --r2: hsl(0, 55%, 35%);
  --r3: hsl(5, 50%, 85%);
  --y0: hsl(210, 20%, 15%);
  --y1: hsl(200, 12%, 18%);
  --y2: rgb(50, 58, 62);
  --y3: hsl(200, 8%, 26%);
  --y5: hsl(220, 10%, 50%);
  --y6: hsl(220, 8%, 24%);
  --y7: hsl(210, 10%, 75%);
  --y8: hsl(210, 10%, 65%);
  --y9: hsl(200, 10%, 40%);
  --y10: hsl(220, 10%, 35%);
  --bb: hsl(210, 10%, 55%);
}
